body p{
    
   font-family: sans-serif;
    padding: 10px;
    font-size: medium;
}

p{
    text-transform: uppercase;
    border: 0px;
    text-align: center;
    font-size: 50px;
    color: white;
}

h1{
    background-color: blue;
    border: white;
    font-size: medium;
    font-weight: 100;
    text-align: center;
}

p{
    font-size: 250px;
    background-color: blue;
    border: 5px solid red;
    color:white;
    text-align: center;

}

p{
    background-color: white;
    font-size: 30px;
    color:black;
}

 .true{  
      color: blue;
      font-size: xx-large;
    
}

.note{
    color: blue;
    font-size: xx-large;
}

.list ul{

    list-style-type: armenian;
    margin: 2px;
    padding: 5px;
    overflow: auto;
    background-color: goldenrod;
}

li{
    text-align: center;
    background-color: rgb(162, 236, 255);
    float: left;;
    padding: 15px;
    color: goldenrod;
    display: block;
    text-align: center;
}


